# Pandas

In [35]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [9]:
df_weather = pd.read_csv('./Weather.csv',sep=',')

In [10]:
df_weather.head()

,code,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity
0,10000,Seoul,2016-01-01,1.2,-3.3,4.0,0.0,3.5,90.0,73.0
1,11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1
2,12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5
3,13000,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,230.0,73.1
4,14000,Incheon,2016-01-01,3.1,-0.4,5.7,0.0,5.3,180.0,83.9

In [12]:
df_weather.values

array([[10000, 'Seoul', '2016-01-01', ..., 3.5, 90.0, 73.0],
       [11000, 'Busan', '2016-01-01', ..., 7.4, 340.0, 52.1],
       [12000, 'Daegu', '2016-01-01', ..., 3.7, 270.0, 70.5],
       ...,
       [60000, 'Gyeongsangbuk-do', '2020-04-29', ..., 7.3, 180.0, 42.6],
       [61000, 'Gyeongsangnam-do', '2020-04-29', ..., 4.2, 50.0, 47.0],
       [70000, 'Jeju-do', '2020-04-29', ..., 4.5, 20.0, 39.9]],
      dtype=object)

In [13]:
type(df_weather.values)

numpy.ndarray

.

# column 이름으로 값을 가져오기

In [21]:
DataFrame(df_weather, columns = ['province','date', 'avg_temp'])

               province        date  avg_temp
0                 Seoul  2016-01-01       1.2
1                 Busan  2016-01-01       5.3
2                 Daegu  2016-01-01       1.7
3               Gwangju  2016-01-01       3.2
4               Incheon  2016-01-01       3.1
...                 ...         ...       ...
25290      Jeollabuk-do  2020-04-29      15.1
25291      Jeollanam-do  2020-04-29      15.6
25292  Gyeongsangbuk-do  2020-04-29      16.7
25293  Gyeongsangnam-do  2020-04-29      15.2
25294           Jeju-do  2020-04-29      15.9

[25295 rows x 3 columns]

.

# loc, iloc

loc : index location   
iloc : index position

In [31]:
df_weather.loc[1:3]

,code,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity
1,11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1
2,12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5
3,13000,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,230.0,73.1

In [32]:
df_weather.iloc[1:3]

,code,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity
1,11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1
2,12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5

In [36]:
s = pd.Series(np.nan, index = [49,50,51,52,53,1,2,3,4,5])

In [37]:
s.loc[:3]

49   NaN
50   NaN
51   NaN
52   NaN
53   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [38]:
s.iloc[:3]

49   NaN
50   NaN
51   NaN
dtype: float64

.

# 조건으로 뽑아서 새로운 컬럼 생성

In [41]:
df_weather["high"] = df_weather["avg_temp"] > 4

In [44]:
df_weather.head(10)

,code,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity,high
0,10000,Seoul,2016-01-01,1.2,-3.3,4.0,0.0,3.5,90.0,73.0,False
1,11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1,True
2,12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5,False
3,13000,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,230.0,73.1,False
4,14000,Incheon,2016-01-01,3.1,-0.4,5.7,0.0,5.3,180.0,83.9,False
5,15000,Daejeon,2016-01-01,1.6,-4.2,7.7,0.0,4.4,320.0,77.4,False
6,16000,Ulsan,2016-01-01,4.0,-1.6,12.0,0.0,2.7,320.0,53.3,False
7,20000,Gyeonggi-do,2016-01-01,1.6,-4.2,5.7,0.0,2.1,180.0,80.1,False
8,30000,Gangwon-do,2016-01-01,5.1,2.1,8.9,0.0,9.6,290.0,33.0,True
9,40000,Chungcheongbuk-do,2016-01-01,-1.0,-5.9,4.1,0.0,1.6,110.0,79.4,False

# Series  Selection

In [54]:
direction_series = df_weather["most_wind_direction"]
direction_series[:3]

0     90.0
1    340.0
2    270.0
Name: most_wind_direction, dtype: float64

In [56]:
direction_series[direction_series < 200][:10]

0      90.0
4     180.0
7     180.0
9     110.0
10    180.0
11    140.0
14     20.0
15    180.0
20    180.0
21    110.0
Name: most_wind_direction, dtype: float64

.

# transpose

In [45]:
df_weather.T

,0,1,2,3,4,5,6,7,8,9,...,25285,25286,25287,25288,25289,25290,25291,25292,25293,25294
code,10000,11000,12000,13000,14000,15000,16000,20000,30000,40000,...,16000,20000,30000,40000,41000,50000,51000,60000,61000,70000
province,Seoul,Busan,Daegu,Gwangju,Incheon,Daejeon,Ulsan,Gyeonggi-do,Gangwon-do,Chungcheongbuk-do,...,Ulsan,Gyeonggi-do,Gangwon-do,Chunghceongbuk-do,Chungcheongnam-do,Jeollabuk-do,Jeollanam-do,Gyeongsangbuk-do,Gyeongsangnam-do,Jeju-do
date,2016-01-01,2016-01-01,2016-01-01,2016-01-01,2016-01-01,2016-01-01,2016-01-01,2016-01-01,2016-01-01,2016-01-01,...,2020-04-29,2020-04-29,2020-04-29,2020-04-29,2020-04-29,2020-04-29,2020-04-29,2020-04-29,2020-04-29,2020-04-29
avg_temp,1.2,5.3,1.7,3.2,3.1,1.6,4,1.6,5.1,-1,...,16.7,14.4,19.8,14.3,13.5,15.1,15.6,16.7,15.2,15.9
min_temp,-3.3,1.1,-4,-1.5,-0.4,-4.2,-1.6,-4.2,2.1,-5.9,...,10.1,8.8,15.6,5.4,7.1,7.8,11.3,11,7.6,13
max_temp,4,10.9,8,8.1,5.7,7.7,12,5.7,8.9,4.1,...,24.3,21.8,24.3,23.6,20.7,23,20.2,25.1,24.5,20
precipitation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
max_wind_speed,3.5,7.4,3.7,2.7,5.3,4.4,2.7,2.1,9.6,1.6,...,3.8,5.1,6.3,3,5.2,4.4,8,7.3,4.2,4.5
most_wind_direction,90,340,270,230,180,320,320,180,290,110,...,290,140,230,90,180,140,200,180,50,20
avg_relative_humidity,73,52.1,70.5,73.1,83.9,77.4,53.3,80.1,33,79.4,...,42.5,65,33.8,53.9,52.1,42.6,42.8,42.6,47,39.9
high,False,True,False,False,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True

.

# column 삭제

In [48]:
del df_weather["high"]

In [49]:
df_weather

,code,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity
0,10000,Seoul,2016-01-01,1.2,-3.3,4.0,0.0,3.5,90.0,73.0
1,11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1
2,12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5
3,13000,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,230.0,73.1
4,14000,Incheon,2016-01-01,3.1,-0.4,5.7,0.0,5.3,180.0,83.9
...,...,...,...,...,...,...,...,...,...,...
25290,50000,Jeollabuk-do,2020-04-29,15.1,7.8,23.0,0.0,4.4,140.0,42.6
25291,51000,Jeollanam-do,2020-04-29,15.6,11.3,20.2,0.0,8.0,200.0,42.8
25292,60000,Gyeongsangbuk-do,2020-04-29,16.7,11.0,25.1,0.0,7.3,180.0,42.6
25293,61000,Gyeongsangnam-do,2020-04-29,15.2,7.6,24.5,0.0,4.2,50.0,47.0
25294,70000,Jeju-do,2020-04-29,15.9,13.0,20.0,0.0,4.5,20.0,39.9

.

# Selection with column names

In [50]:
df_weather["min_temp"].head(3)

0   -3.3
1    1.1
2   -4.0
Name: min_temp, dtype: float64

In [53]:
df_weather[["code", "province","date","min_temp"]].head(3)

    code province        date  min_temp
0  10000    Seoul  2016-01-01      -3.3
1  11000    Busan  2016-01-01       1.1
2  12000    Daegu  2016-01-01      -4.0

.

# 특정 column을 인덱스로

In [57]:
df_weather.index = df_weather["code"]

In [60]:
del df_weather["code"]

In [61]:
df_weather.head()

,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity
code,,,,,,,,,
10000,Seoul,2016-01-01,1.2,-3.3,4.0,0.0,3.5,90.0,73.0
11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1
12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5
13000,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,230.0,73.1
14000,Incheon,2016-01-01,3.1,-0.4,5.7,0.0,5.3,180.0,83.9

In [62]:
df_weather.values

array([['Seoul', '2016-01-01', 1.2, ..., 3.5, 90.0, 73.0],
       ['Busan', '2016-01-01', 5.3, ..., 7.4, 340.0, 52.1],
       ['Daegu', '2016-01-01', 1.7, ..., 3.7, 270.0, 70.5],
       ...,
       ['Gyeongsangbuk-do', '2020-04-29', 16.7, ..., 7.3, 180.0, 42.6],
       ['Gyeongsangnam-do', '2020-04-29', 15.2, ..., 4.2, 50.0, 47.0],
       ['Jeju-do', '2020-04-29', 15.9, ..., 4.5, 20.0, 39.9]],
      dtype=object)

.

# Basic, loc, iloc

In [65]:
df_weather[["province","avg_temp"]][:2]

      province  avg_temp
code
10000    Seoul       1.2
11000    Busan       5.3

In [67]:
df_weather.iloc[:2,:2]

      province        date
code
10000    Seoul  2016-01-01
11000    Busan  2016-01-01